name: auto-merge

on:
  pull_request:
    types: [labeled, synchronize, ready_for_review, reopened]

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge
        uses: peter-evans/enable-pull-request-automerge@v3
        with:
          token: ${{ secrets.INTEGRATOR_TOKEN }}
          pull-request-number: ${{ github.event.pull_request.number }}
          merge-method: squash
